<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-matchheight">
				<div class="row"> 
					
					<!-- FOOTER ITEM 1 -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-item footer-item-1">
						<h3 class="footer-title footer-title-line"><i class="fa fa-twitter"></i> LATEST TWEETS</h3>
						<div class="tweet">
							<div class="tweet-login"> <a href="#">@BoksburgIV</a> </div>
							<div class="tweet-text"> Lorem ipsum dolro lobortis quobortisnissim pulvinar ac Lorem. </div>
							<div class="tweet-date"> 03.10.2016 </div>
						</div>
						<div class="tweet">
							<div class="tweet-login"> <a href="#">@BoksburgIV</a> </div>
							<div class="tweet-text"> Lorem ipsum dolro lobortis quobortisnissim pulvinar ac Lorem. </div>
							<div class="tweet-date"> 03.10.2016 </div>
						</div>
						<div class="tweet">
							<div class="tweet-login"> <a href="#">@BoksburgIV</a> </div>
							<div class="tweet-text"> Lorem ipsum dolro lobortis quobortisnissim pulvinar ac Lorem. </div>
							<div class="tweet-date"> 03.10.2016 </div>
						</div>
					</div>
					
					<!-- FOOTER ITEM 2 -->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-item footer-item-2">
						<h3 class="footer-title footer-title-line">
							<i class="fa fa-clock-o"></i> 
							OPENING HOURS
						</h3>
						<div class="opening-left"> 
							Mon-Tues<br>
							Wednesday<br>
							Thurs-Fri<br>
							Saturday<br>
							Sunday<br>
							P. Holidays</div>
						<div class="opening-right"> 
							9:00 am - 4:30 pm<br>
							Closed<br>
							9:00 am - 4:30 pm<br>
							9:00 am - 1:30 pm<br>
							Closed<br>
							Closed</div>
						</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
						<div> Copyright &copy; 2021 <a href="https://www.drtshimbalanga.com/" target="_blank">Dr. Tshimbalanga</a> by <a href="https://www.iliascc.co.za/" target="_blank">ILIAS Creative Concepts</a> </div>
					</div>
				</div>
			</div>
			
			<!-- FOOTER ITEM 3 -->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer-item footer-item-3 footer-matchheight" id="footer-item-3">
				<h3 class="footer-title"><i class="fa fa-map-marker"></i> CONTACT US</h3>
				<div class="footer-item-3-phone"> <a href="tel:0796750883"><i class="fa fa-phone"></i> 079 675 0883 </a></div>
				<div class="footer-item-3-location"> <i class="flaticon-navigation-arrow"></i> 17 Addies Centre, Cnr Trichardt / Cason Road, Boksburg North, 1459, RSA </div>
				<div class="footer-item-3-mail"> <i class="fa fa-envelope"></i> <a href="mailto:reception@drtshimbalanga.com">reception@drtshimbalanga.com</a> </div>
				<div class="footer-item-3-socials"> 
					<a href="#"><i class="fa fa-whatsapp"></i></a> 
					<a href="#"><i class="fa fa-facebook"></i></a> 
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
			
			<!-- FOOTER ITEM 4 -->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footer-item footer-item-4 footer-matchheight" id="footer-item-4"> </div>
		</div>
	</div>
</div>