<div class="header" id="header">
	<div class="container">
		<div class="row"> 
			
			<!-- HEADER LOGO -->
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
				<div class="header-logo"> <a href="/"><img src="{{ get_url(path="images/logo.svg") | safe }}" alt="" />
					<span class="bold600 color-child-6">DR.</span>
					<span class="color-child-5">TSHIMBALANGA</span>
					</a> </div>
			</div>

			<!-- HEADER BUTTONS -->
			<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
				<div class="header-button"> 
					<a href="#bookform1" class="fancybox-2 btn btn-default">
					<span class="plus">+</span>MAKE AN APPOINTMENT</a> </div>
				<div class="header-phone"> <a href="tel:079 675 0883"> <i class="fa fa-phone"></i> 079 675-0883 </a></div>
			</div>
		</div>
	</div>
</div>