<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="H2O, Creative, Agency, Portfolio, Freelancer, Shop, Store,Bootstrap, HTML, Template, One page">
	<meta name="author" content="Vadzim Liashkevich">
	<title>{{ config.title }}</title>
	<link rel="shortcut icon" href="{{ get_url(path="images/favicon.ico") | safe }}">
	<link rel="apple-touch-icon" href="{{ get_url(path="images/apple-touch-icon.png") | safe }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ get_url(path="images/apple-touch-icon-72x72.png") | safe }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ get_url(path="images/apple-touch-icon-114x114.png") | safe }}">
	<link rel="stylesheet" type="text/css" href="{{ get_url(path="css/master.css") | safe }}" />
</head>