<script src="{{ get_url(path="js/jquery-2.2.0.min.js") | safe }}"></script> 
<script src="{{ get_url(path="js/bootstrap.min.js") | safe }}"></script> 
<script src="{{ get_url(path="js/jquery.sliderPro.min.js") | safe }}"></script> 
<script src="{{ get_url(path="js/jquery.fancybox.pack.js") | safe }}"></script>
<script src="{{ get_url(path="js/owl.carousel.js") | safe }}"></script> 
<script src="{{ get_url(path="js/jquery.barrating.min.js") | safe }}"></script> 
<script src="{{ get_url(path="js/isotope.pkgd.min.js") | safe }}"></script> 
<script src="{{ get_url(path="js/scrollspy.js") | safe }}"></script> 
<script src="{{ get_url(path="js/moment.js") | safe }}"></script> 
<script src="{{ get_url(path="js/bootstrap-datetimepicker.min.js") | safe }}"></script> 
<script src='{{ get_url(path='js/jquery.form.js') | safe }}'></script> 
<script src='{{ get_url(path='js/jquery.form-validator.js') | safe }}'></script> 
<script src='{{ get_url(path='js/jquery.selectBox.js') | safe }}'></script> 
<script src='{{ get_url(path='js/jquery.matchHeight.js') | safe }}'></script> 
<script src='{{ get_url(path='js/imagesloaded.pkgd.min.js') | safe }}'></script>
<script src="{{ get_url(path="js/theme.js") | safe }}"></script> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1N87a_NHjocaepKKcovPAYTMUkJBr9pQ&amp;language=en&amp;sensor=true"></script> 

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --> 
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" | safe }}"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" | safe }}"></script>
<![endif]--> 
