<script src="js/jquery-2.2.0.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.sliderPro.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/owl.carousel.js"></script> 
<script src="js/jquery.barrating.min.js"></script> 
<script src="js/isotope.pkgd.min.js"></script> 
<script src="js/scrollspy.js"></script> 
<script src="js/moment.js"></script> 
<script src="js/bootstrap-datetimepicker.min.js"></script> 
<script src='js/jquery.form.js'></script> 
<script src='js/jquery.form-validator.js'></script> 
<script src='js/jquery.selectBox.js'></script> 
<script src='js/jquery.matchHeight.js'></script> 
<script src='js/imagesloaded.pkgd.min.js'></script>
<script src="js/theme.js"></script> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1N87a_NHjocaepKKcovPAYTMUkJBr9pQ&amp;language=en&amp;sensor=true"></script> 

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --> 
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]--> 
