<div class="top-bar" id="top-bar">
	<div class="container">
		<div class="row"> 
			
			<!-- TOP BAR LEFT -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="top-bar-adress"> <i class="flaticon-navigation-arrow"></i> 17 Addies Centre, Cnr Trichardt / Cason Road, Boksburg North, 1459, RSA </div>
			</div>
			
			<!-- TOP BAR RIGHT -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="top-bar-social">
					<a href="#"><i class="fa fa-whatsapp"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a> 
					<a href="#"><i class="fa fa-twitter"></i></a>  
				</div>
				<div class="top-bar-mail"> <i class="fa fa-envelope"></i> <a href="mailto:reception@drtshimbalanga.com">reception@drtshimbalanga.com</a> </div>
			</div>
		</div>
	</div>
</div>